<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>onlineVoting3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DatabaseManger</display-name>
    <servlet-name>DatabaseManger</servlet-name>
    <servlet-class>onlineVoting3.DatabaseManger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseManger</servlet-name>
    <url-pattern>/DatabaseManger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUs</display-name>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>onlineVoting3.ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUs2</display-name>
    <servlet-name>ContactUs2</servlet-name>
    <servlet-class>online.ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs2</servlet-name>
    <url-pattern>/ContactUs2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUs3</display-name>
    <servlet-name>ContactUs3</servlet-name>
    <servlet-class>onlineVoting3.ContactUs3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs3</servlet-name>
    <url-pattern>/ContactUs3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>voterLogin</display-name>
    <servlet-name>voterLogin</servlet-name>
    <servlet-class>onlineVoting3.voterLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>voterLogin</servlet-name>
    <url-pattern>/voterLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>onlineVoting3.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>onlineVoting3.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vote</display-name>
    <servlet-name>Vote</servlet-name>
    <servlet-class>onlineVoting3.Vote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vote</servlet-name>
    <url-pattern>/Vote</url-pattern>
  </servlet-mapping>
</web-app>